

<div class="row ml-4">
    <div class="col-md-2">
        <p style="margin-top: 100px;"> <button>Join Meeting</button></p>

    </div>
    <div class="col-md-2">
        <p style="margin-top: 100px;margin-left:-16px"><button routerLink="/webinar/meeting-schedule">Schedule
                Meeting</button></p>

    </div>
    <div class="col-md-2">
        <p style="margin-top: 100px;"><button>Start Meeting</button></p>

    </div>
    <div class="col-md-2">
        <img src="../../../../assets/images/login-img.png" alt="webinar" class="w-100 h-100">

    </div>
    <div class="col-md-2">
        <i class="fa fa-bell-o" aria-hidden="true" style="margin-top:75px;margin-left: 75px;"></i>
        <i class="fa fa-bell-o ml-4" aria-hidden="true"></i>
    </div>
</div>
<div class="row ml-4">
    <div class="col-md-5">
        <h4>Upcomming Meeting</h4>
        <table>
            <tr>
                <th>Date</th>
                <th>Start Time</th>
                <th>Topic</th>
            </tr>
        </table>
    </div>
    <div class="col-md-5">
        <h4>Previous Meeting</h4>
        <table>
            <tr>
                <th>Date</th>
                <th>Start Time</th>
                <th>Topic</th>
            </tr>
        </table>
    </div>
</div>

