.input-group-text{
    border:none;
    background: none !important;
}
button{
    border:none;
    background-color: #2a71ba;
    color: white;
    border-radius: 10px;
    padding: 5px 30px;
}
[type="password"]{
    border:none;
}
.addradius{
    border-radius: 10px!important;
}
section{
    overflow:hidden
}
.form-group{
    width:80%;
}
[type="password"]:focus {
    box-shadow: none;
}
label,p{
    font-size: 13px;
}