<section>

           
           <div>
                  <h5>Enter New Password</h5>
                  <p>passwords must be atleast 8 characters in length and it must have lower case,upper
                    case,numbers and a special characters</p>
                    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
                        <label>Password</label>

                        <div class="form-group input-group bg-light p-1 addradius">
                            <div class="input-group-prepend bg-light">
                                <span class="input-group-text"><i class="fa fa-key text-secondary"></i></span>
                            </div>
                            <input type="password" formControlName="password" class="form-control bg-light"
                                [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                            
                            <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                                <div *ngIf="f.password.errors.required">Password is required</div>
                                <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
                            </div>
                        </div>
                        <label>Confirm Password</label>

                        <div class="form-group input-group bg-light p-1 addradius">
                            <div class="input-group-prepend bg-light">
                                <span class="input-group-text"><i class="fa fa-key text-secondary"></i></span>
                            </div>
                            <input type="password" formControlName="confirmPassword" class="form-control bg-light"
                                [ngClass]="{ 'is-invalid': submitted && f.confirmPassword.errors }" />
                            <div *ngIf="submitted && f.confirmPassword.errors" class="invalid-feedback">
                                <div *ngIf="f.confirmPassword.errors.required">Confirm Password is required</div>
                                <div *ngIf="f.confirmPassword.errors.mustMatch">Passwords must match</div>
                            </div>
                        </div>
                        <p class="text-center"><button>save</button></p>
                    </form>
           </div>
    
</section>