<section>
    <div class="row">
        <div class="col-md-2 p-0 nav-links">
            <app-nav-links></app-nav-links>
        </div>
        <div class="col-md-6 main">
            <form class=" mt-4">
                <input type="search" placeholder="search">
                <button class="send ml-4">Upload</button>

            </form>
            
                <p>Folders
                    <span style="float:right">Name<i class="fa fa-angle-down" aria-hidden="true"></i></span>
                    <span style="float:right" class="mr-4"><i class="fa fa-folder-o" aria-hidden="true"></i></span>

                </p>
                <div class="row">
                    <div class="col-md-3">
                        <div style="background-color:white">
                            <img src="../../../../assets/images/folder.png" alt="folder"><span>GIFs</span>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div style="background-color:white" class="ml-2">

                            <img src="../../../../assets/images/folder.png" alt="folder"><span>Resource</span>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div style="background-color:white">

                            <img src="../../../../assets/images/folder.png" alt="folder"><span>Design</span>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div style="background-color:white">

                            <img src="../../../../assets/images/folder.png" alt="folder"><span>PNGs</span>
                        </div>
                    </div>

                </div>
                <div class="row mt-4">
                    <div class="col-md-3">
                        <div style="background-color:white">
                            <img src="../../../../assets/images/folder.png" alt="folder"><span>March 2020</span>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div style="background-color:white" class="ml-2">

                            <img src="../../../../assets/images/folder.png" alt="folder"><span>April 20</span>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div style="background-color:white">

                            <img src="../../../../assets/images/folder.png" alt="folder"><span>Software</span>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div style="background-color:white">

                            <img src="../../../../assets/images/folder.png" alt="folder"><span>Project</span>
                        </div>
                    </div>

                </div>

                <div class="row mt-4">
                    <div class="col-md-3">
                        <div style="background-color:white">
                            <img src="../../../../assets/images/pdf.png" alt="pdf">
                          <span><p class="text-center">Brief.pdf</p></span>
                        </div>
                    </div>
                    <!-- <div class="col-md-3">
                        <figure style="background-color:white">
                            <img src="../../../../assets/images/avi.png" alt="avi" style="height: 51px;">
                          <figcaption class="text-center">Image.avi</figcaption>
                        </figure>
                    </div>
                    <div class="col-md-3">
                        <figure style="background-color:white">
                            <img src="../../../../assets/images/docs.png" alt="docs">
                          <figcaption class="text-center">BG.docs</figcaption>
                        </figure>
                    </div>
                    <div class="col-md-3">
                        <figure style="background-color:white">
                            <img src="../../../../assets/images/docs.png" alt="docs">
                          <figcaption class="text-center">BG1.docs</figcaption>
                        </figure>
                    </div> -->

                </div>
                <!-- <div class="row mt-4">
                    <div class="col-md-3">
                        <figure style="background-color:white">
                            <img src="../../../../assets/images/xd.png" alt="xd" style="height: 51px;">
                          <figcaption class="text-center">PPT.xd</figcaption>
                        </figure>
                    </div>
                    <div class="col-md-3">
                        <figure style="background-color:white">
                            <img src="../../../../assets/images/exl.png" alt="exl" style="height: 51px;">
                          <figcaption class="text-center">Effects.exl</figcaption>
                        </figure>
                    </div>
                    <div class="col-md-3">
                        <figure style="background-color:white">
                            <img src="../../../../assets/images/pdf.png" alt="pdf">
                          <figcaption class="text-center">BG.pdf</figcaption>
                        </figure>
                    </div>
                    <div class="col-md-3">
                        <figure style="background-color:white">
                            <img src="../../../../assets/images/exl.png" alt="exl" style="height: 51px;">
                          <figcaption class="text-center">Video.exl</figcaption>
                        </figure>
                    </div>

                </div> -->
                
        </div>

        <div class="col-md-4 ">
            <div class="col-md-4 profile">
                <i class="fa fa-user-circle-o mr-4" aria-hidden="true"></i>
                <i class="fa fa-bell" aria-hidden="true"></i>
            </div>
            <div class="users ">
                <div class=" ml-2">
                    <span class="pl-3">
                        <h5>Last Activity</h5>
                    </span>
                    <div class="row">
                        <div class="col-md-6">
1
                        </div>
                        <div class="col-md-6">2

                        </div>
                    </div>

                </div>


            </div>
        </div>
    </div>
</section>