<section>
    
        <div>
            <h5>Forget Password</h5>
            <p>please enter your email</p>
            <p>you will receive a link to reset your password</p>

            <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="mt-4">
                <label>Email address</label>
                <div class="input-group form-group bg-light p-1 addradius">
                    <div class="input-group-prepend bg-light">
                        <span class="input-group-text"><i class="fa fa-envelope text-secondary"></i></span>
                    </div>
                    <input type="email" formControlName="email" class="form-control bg-light"
                        [ngClass]="{ 'is-invalid': submitted && f.email.errors }"
                        placeholder="joe@example.com or 98765432" />
                    <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                        <div *ngIf="f.email.errors.required">Email is required</div>
                    </div>
                </div>
                <div class="text-center">
                    <button>Send</button><span class="ml-4"><a routerLink="/home/login">Login</a></span>
                </div>
            </form>
        </div>

</section>