.addradius{
    border-radius: 10px;
}
.input-group-text{
    border:none;
    background: none !important;
}
[type="email"]{
    border:none;
    box-shadow: none;
}
button{
    border:none;
    background-color: #2a71ba;
    color: white;
    border-radius: 10px;
    padding: 5px 30px;
}
.form-group{
    width:80%;
}
section{
    overflow: hidden;
    margin-top: 100px;
}
label,p{
    font-size: 13px;
}